
<ion-header>
  <ion-navbar>

      <img src="header-8.png" alt="" style="width:10%; margin-left:45%;">

  </ion-navbar>
</ion-header>

<ion-content>

<ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
<h3 style="text-align:center;">Faça o cadastro</h3>
<form id="form" [formGroup]="cadastro" (ngSubmit)="postDados()" style="background-color:#333;">
  <ion-item>
      <ion-label fixed>Nome</ion-label>
      <ion-input type="text" name="nome" formControlName="nome" placeholder="Seu Nome"></ion-input>

  </ion-item>
  <ion-item>
      <ion-label fixed>Email</ion-label>
      <ion-input type="email" name="email" formControlName="email" placeholder="email@email.com"></ion-input>

  </ion-item>
  <ion-item>
      <ion-label fixed>Profissão</ion-label>
      <ion-input type="text" name="profissao" formControlName="profissao" placeholder="Sua profissão"></ion-input>

  </ion-item>
  <ion-item>
    <ion-label fixed>Código</ion-label>
      <ion-input type="text" name="cod" formControlName="cod" placeholder="+00" [(ngModel)]="cod" maxlength="3"></ion-input>
  </ion-item>
   <ion-item>

      <ion-label fixed>Telefone</ion-label>
      <ion-input type="text" name="telefone" formControlName="telefone" placeholder="(00) 000000000" value="{{cod}}"></ion-input>

  </ion-item>
  <button [disabled]="cadastro.invalid" ion-button full style="position: absolute; bottom:0;"><ion-icon name="add"></ion-icon>Adicionar</button>



</form>


</ion-content>
