<ion-tabs id="tabs">
  <ion-tab [root]="tab2Root" tabTitle="Início" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab1Root" tabTitle="Ver" tabIcon="search"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Adicionar" tabIcon="person-add"></ion-tab>
</ion-tabs>
