page-about {
  #background{
    position: absolute;
    left:0;
    right: 0;
    top:0;
    bottom: 0;
    background-image: url(../padrao.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;


  }
  ion-content{

    background: linear-gradient(to right top, rgba(249,236,50,1) 0%, rgba(238,42,124,1) 100%);


  }
  #user{
    transition-duration: 1s;
  }
  #user:hover{
    transition-duration: 0.5s;
    transform: scale(1.3) rotate(15deg) rotateY(360deg);
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.6);
    border-radius: 100%;
  }
}
