

<ion-content>

<div id="background"></div>

<ion-slides pager >

  <ion-slide *ngFor="let user of users" >
  	<img id="user" src="https://openclipart.org/image/2400px/svg_to_png/280989/user-icon.png" style="width: 20%; ">
    <h1 style="color:#333;" style="font-family: 'Anton', sans-serif; font-style:italic;">{{user.nome}}</h1>
    <h3 style="color:#333;"><i>{{user.profissao}}</i></h3>
    <p style="color:#333;"><ion-icon name="mail" style="margin-right:5px;"></ion-icon>{{user.email}}</p>
    <p style="color:#333;"><ion-icon name="call" style="margin-right:5px;"></ion-icon>{{user.telefone}}</p>
    <ion-fab right bottom >
        <button ion-fab style="background-color:rgba(0,0,0,0.5);"><ion-icon name="arrow-dropup-circle"></ion-icon></button>
        <ion-fab-list side="top">
          <a ion-fab href="https://api.whatsapp.com/send?l=pt_BR&phone={{user.telefone}}" style="background-color:#2ecc71;"><ion-icon name="logo-whatsapp"></ion-icon></a>
          <a ion-fab href="mailto:{{user.email}}?Subject=Olá%{{user.nome}}" target="_top" style="background-color:#3498db;"><ion-icon name="mail"></ion-icon></a>
        </ion-fab-list>
      </ion-fab>
  </ion-slide>



</ion-slides>

</ion-content>
